{% extends "base.html" %}

{% block content %}
  <h2>edit post</h2>

    <form id="edit-form" action="/blog/savepost" method="POST">
      <label>
        <div>subject</div>
        <input type="text" name="subject" value="{{subject}}" required>
      </label>

      <label>
        <div>blog</div>
        <textarea name="content" required>{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <!-- Post Meta Info Fields -->
      <input type="hidden" name="post_id" value="{{post_id}}" required>
      <input type="hidden" name="author_id" value="{{author_id}}" required>
      <a id="cancel-button" class="glyphicon glyphicon-remove"></a>
      <a id="submit-button" class="glyphicon glyphicon-ok"></a>
    </form>

    <script>

    $(document).ready(function(){

      var $editForm = $("#edit-form");
      var $submitButton = $("#submit-button");
      var $cancelButton = $("#cancel-button");

      $submitButton.click(function(e){
        e.preventDefault();
        $editForm.submit();
      });

      $cancelButton.click(function(e){
        e.preventDefault();
          window.location.href = "/blog/{{post_id}}";
      });

    });

    </script>
{% endblock %}
